<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <title>Hello World App</title>
        <link rel="stylesheet" href="y.css"></link>
    </head>
<body>
    <%- yield %>
    <script src=x.js></script>
</body>
</html>
